/Core/target/
/Renderer/target/
/Util/target/
/ResourceHandling/target/
/BuildTools/target/
/.svn/
/JavaApplication1/nbproject/private/
/JavaApplication1/build/
/Renderer/src/main/resources/resources/shaders/util/.svn/
/Renderer/src/main/resources/resources/shaders/filter/.svn/
/Geometrie/target/
/glslopt/nbproject/private/
/AnnotationsProcessing/target/